.aid-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(images/donation0.jpg);
    background-size: cover;
    background-repeat: repeat;
}

.bg-text {
    width: 100%;
    height: 100%;
    font-size: 150%;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);

}

.bg-text h1 {
    font-size: 300%;
    text-align: center;
    padding-top: 200px;
}

.donate-button {
    font-size: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 99, 71);
    color: white;
    margin-top: 5px;
}

.donate-container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 100px;
}